<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>온라인쇼핑</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <th:block th:replace="headerFooter.html :: configFragment"></th:block>

<!--    <script>-->
<!--        function newPage()  {-->
<!--            window.location.href = '/product'-->
<!--        }-->
<!--        function loadItems1() {-->
<!--            return fetch("http://localhost:8085/product/1")-->
<!--                .then((response) => response.json());-->
<!--        }-->

<!--        function showItems1() {-->
<!--            loadItems1().then((data) => {-->
<!--                displayItems(data);-->
<!--            });-->
<!--        }-->

<!--        function loadItems2() {-->
<!--            return fetch("http://localhost:8085/product/2")-->
<!--                .then((response) => response.json());-->
<!--        }-->

<!--        function showItems2() {-->
<!--            loadItems2().then((data) => {-->
<!--                displayItems(data);-->
<!--            });-->
<!--        }-->

<!--        function loadItems3() {-->
<!--            return fetch("http://localhost:8085/product/3")-->
<!--                .then((response) => response.json());-->
<!--        }-->

<!--        function showItems3() {-->
<!--            loadItems3().then((data) => {-->
<!--                displayItems(data);-->
<!--            });-->
<!--        }-->

<!--        function loadItems4() {-->
<!--            return fetch("http://localhost:8085/product/4")-->
<!--                .then((response) => response.json());-->
<!--        }-->

<!--        function showItems4() {-->
<!--            loadItems4().then((data) => {-->
<!--                displayItems(data);-->
<!--            });-->
<!--        }-->

<!--        function displayItems(data) {-->
<!--            const container = document.querySelector(".items");-->
<!--            container.innerHTML = data.map((data) => createHTMLString(data)).join("");-->
<!--        }-->

<!--        function createHTMLString(item) {-->
<!--            return `-->
<!--                    <tr class="item">-->
<!--                        <td><a href="/products/details?pdtCode=${item.productCode}">${item.productName}</a></td>-->
<!--                        <td>${item.productPrice}</td>-->
<!--                    </tr>`;-->
<!--        }-->
<!--    </script>-->
    <style>

        .productImg {
            max-width: 100%;
            max-height: 100%;
            width: 250px;
            height: 250px;
            overflow: hidden;
            object-fit: cover;
        }
    </style>

</head>

<body>
    <div th:replace="headerFooter.html :: top-bar"></div>
    <div th:replace="headerFooter.html :: main-header"></div>

    <main id="main">

        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Store</h2>
<!--                    <ol>-->
<!--                        <li><a href="javascript:void(0);" onclick="showItems1()">원두</a></li>-->
<!--                        <li><a href="javascript:void(0);" onclick="showItems2()">텀블러</a></li>-->
<!--                        <li><a href="javascript:void(0);" onclick="showItems3()">컵</a></li>-->
<!--                        <li><a href="javascript:void(0);" onclick="showItems4()">굿즈</a></li>-->
<!--                    </ol>-->
                    <ol>
                        <li><a href="/product/1">원두</a></li>
                        <li><a href="/product/2">컵/텀블러</a></li>
                        <li><a href="/product/3">시럽</a></li>
                        <li><a href="/product/4">선물세트</a></li>
                        <th:block th:if="${session.authInfo != null}">
                            <li><a th:href="@{/cartList}"><i class="fas fa-shopping-cart"></i></a></li>
                        </th:block>
                    </ol>
                </div>

            </div>
        </section>

        <section class="inner-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="row justify-content-left">
                        <div class="col-md-3 col-sm-3 col-xs-12 image-main-section" th:each="list :${all}">
                            <div class="row img-part">
                                <div class="col-md-12 col-sm-12 colxs-12 img-section">
                                    <a th:href="@{/products/details(pdtCode=${list.productCode})}"><img class="productImg" th:src="|/productImg/${list.imgName}|" style="width: 250px; height:250px;"></a>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 image-title" style="text-align: left">
                                    <h5>[[${list.productName}]]</h5>
                                </div>
                            </div><br>
                        </div>
                    </div>
                </div><br><br>

                <div style="text-align: center">
                    <th:block th:switch="${totalCntJudge}">
                        <th:block th:case="81">
                            <th:block th:if="${(section)*80<totalCnt}">
                                <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                                    <th:block th:if="${section >1 && page==1}">
                                        <a th:href="@{/product(section=${section}-1, pageNum=10)}"> << </a>
                                    </th:block>
                                    <a th:href="@{/product(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                    <th:block th:if="${page==10}">
                                        <a th:href="@{/product(section=${section+1}, pageNum=1)}"> >> </a>
                                    </th:block>
                                </th:block>
                            </th:block>

                            <th:block th:if="${(section)*80>totalCnt}">
                                <th:block th:each="page : ${#numbers.sequence(1, (((totalCnt+7)-((section)-1)*100)/8) ,1)}">
                                    <th:block th:if="${section >1 && page==1}">
                                        <a th:href="@{/product(section=${(section)-1}, pageNum=10)}"> << </a>
                                    </th:block>
                                    <a th:href="@{/product(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                </th:block>
                            </th:block>

                            <th:block th:if="${(section)*80==totalCnt}">
                                <th:block th:each="page : ${#numbers.sequence(1, 10 ,1)}">
                                    <th:block th:if="${section >1 && page==1}">
                                        <a th:href="@{/product(section=${(section)-1}, pageNum=10)}"> << </a>
                                    </th:block>
                                    <a th:href="@{/product(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                </th:block>
                            </th:block>

                        </th:block>
                        <th:block th:case="80">
                            <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                                <a th:href="@{/product(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                            </th:block>
                        </th:block>
                        <th:block th:case="79">
                            <th:block th:each="page : ${#numbers.sequence(1,((totalCnt+7)/8),1)}">
                                <a th:href="@{/product(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                            </th:block>
                        </th:block>
                    </th:block>
                </div><br>
            </div>
        </section>

    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div th:replace="headerFooter.html :: footer"></div>
    <th:block th:replace="headerFooter.html :: script"></th:block>
</body>

</html>