<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <th:block th:replace="headerFooter.html :: configFragment"></th:block>

    <title>월별매출</title>
</head>

<body>
    <div th:replace="headerFooter.html :: top-bar"></div>
    <div th:replace="headerFooter.html :: admin-header"></div>
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Sales Status</h2>
                <ol>
                    <li><a th:href="@{/admin}">Admin</a></li>
                    <li><a th:href="@{/admin/salesStatus}">일별매출</a></li>
                    <li><a th:href="@{/admin/salesStatus/month}">월별매출</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <br><br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 table-responsive">

                <div style="text-align: right">
                    <input type="month" id="payDate" onchange="changeDate(this.value)" th:value="${payDate}">&nbsp;&nbsp;
                </div>

                <h4 style="text-align: center">월별 매출현황</h4>

                <div th:if="${salesList.isEmpty()}" class="card border-0 shadow rounded-3 my-5">
                    <div class="no-sales">
                        <br><br>
                        매출이 없습니다.<br><br>
                        <i class="far fa-frown"></i>
                        <br><br>
                    </div>
                </div>
                <div th:unless="${salesList.isEmpty()}" class="card border-0 shadow rounded-3 my-5">
                    <div class="status-inner">
                        <div class="statusTitle">
                            [[${payDate}]]
                            <a th:href="@{/admin/salesStatus/detail/{payDate} (payDate = ${payDate})}">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <hr>
                        <div class="status-box"th:each="list, i :${salesList}">
                            <div class="block-box" th:if="${i.last}"><hr></div>
                            <div class="status-category" th:switch="${list.productType}">
                                <span th:case="-1" style="font-weight: bolder">총 매출</span>
                                <span th:case="1">원두</span>
                                <span th:case="2">컵/텀블러</span>
                                <span th:case="3">시럽</span>
                                <span th:case="4">선물세트</span>
                            </div>
                            <div class="status-sum">
                                <span th:if="${!i.last}">
                                    [[${#numbers.formatInteger(list.sum, 0, 'COMMA')}]] 원
                                </span>
                                <span th:unless="${!i.last}" style="font-size:20px; font-weight: bolder">
                                    [[${#numbers.formatInteger(list.sum, 0, 'COMMA')}]] 원
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <div th:replace="headerFooter.html :: footer"></div>
    <th:block th:replace="headerFooter.html :: script"></th:block>

    <script>

        let testDate = document.getElementById('payDate').value
        if (!testDate){
            let month = new Date().toISOString().substring(0, 7);
            document.getElementById('payDate').value = month;
        }

        function changeDate(payDate){
            let today = new Date();
            let chooseDay = new Date(payDate);

            if(chooseDay > today){
                alert("날짜 지정을 다시 해주세요");
            }
            else{
                location.href="/admin/salesStatus/month?payDate="+payDate;
            }
        }

    </script>
</body>
</html>