<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>고윤박커피 / REVIEW</title>
    <th:block th:replace="headerFooter.html :: configFragment"></th:block>

</head>
<body>
<div th:replace="headerFooter.html :: top-bar"></div>
<div th:replace="headerFooter.html :: main-header"></div>

<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Review</h2>
            <ol>
                <li><a href="/">메인으로</a></li>
                <li>리뷰</li>
            </ol>
        </div>

    </div>
</section>
<br><br><br>

    <div class="container">
        <h4>리뷰목록</h4><br>
        <div class="row justify-content-center">
            <div class="row justify-content-left">
                <div th:if="${reviewList.isEmpty()}" style="text-align: center"> 리뷰가 없습니다. </div>
                <div class="col-md-3 col-sm-3 col-xs-12 image-main-section" th:each="list :${reviewList}">
                    <div class="row img-part">
                        <div class="col-md-12 col-sm-12 colxs-12 img-section">
                            <a th:href="@{/review/detail/{reviewNum}(reviewNum = ${list.reviewNum})}"><img class="reviewImg" th:src="|/reviewImg/${list.fileName}|"></a>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 image-title" style="text-align: left">
                            <h5>@[[${list.userName}]]</h5>
                        </div>
                    </div><br>
                </div>
            </div><br><br><br><br>

            <div style="text-align: center">
                <th:block th:switch="${totalCntJudge}">
                    <th:block th:case="81">
                        <th:block th:if="${(section)*80<totalCnt}">
                            <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                                <th:block th:if="${section >1 && page==1}">
                                    <a th:href="@{/review(section=${section}-1, pageNum=10)}"> << </a>
                                </th:block>
                                <a th:href="@{/review(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                                <th:block th:if="${page==10}">
                                    <a th:href="@{/review(section=${section+1}, pageNum=1)}"> >> </a>
                                </th:block>
                            </th:block>
                        </th:block>

                        <th:block th:if="${(section)*80>totalCnt}">
                            <th:block th:each="page : ${#numbers.sequence(1, (((totalCnt+7)-((section)-1)*100)/8) ,1)}">
                                <th:block th:if="${section >1 && page==1}">
                                    <a th:href="@{/review(section=${(section)-1}, pageNum=10)}"> << </a>
                                </th:block>
                                <a th:href="@{/review(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                            </th:block>
                        </th:block>

                        <th:block th:if="${(section)*80==totalCnt}">
                            <th:block th:each="page : ${#numbers.sequence(1, 10 ,1)}">
                                <th:block th:if="${section >1 && page==1}">
                                    <a th:href="@{/review(section=${(section)-1}, pageNum=10)}"> << </a>
                                </th:block>
                                <a th:href="@{/review(section=${section}, pageNum=${page})}"><span th:text="${((section)-1)*10+page}"></span></a>
                            </th:block>
                        </th:block>

                    </th:block>
                    <th:block th:case="80">
                        <th:block th:each="page : ${#numbers.sequence(1,10,1)}">
                            <a th:href="@{/review(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                        </th:block>
                    </th:block>
                    <th:block th:case="79">
                        <th:block th:each="page : ${#numbers.sequence(1,((totalCnt+7)/8),1)}">
                            <a th:href="@{/review(section=${section}, pageNum=${page})}"><span th:text="${page}"></span></a>
                        </th:block>
                    </th:block>
                </th:block>
            </div><br>

        </div>
    </div>
</div>

<br><br><br>
<div th:replace="headerFooter.html :: footer"></div>
<th:block th:replace="headerFooter.html :: script"></th:block>
</body>
</html>