<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <th:block th:replace="headerFooter.html :: configFragment"></th:block>

    <title>공지사항등록</title>
<body>
    <div th:replace="headerFooter.html :: top-bar"></div>
    <div th:replace="headerFooter.html :: admin-header"></div>

    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Notice Regi</h2>
                <ol>
                    <li><a href="index.html">Admin</a></li>
                    <li>공지사항 등록</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <br><br><br>

    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-6 table-responsive">

                 <form th:object="${noticeCommand}" th:action="@{/admin/adminNotice/regist}" method="post">
                     <table class="table table-sm text-center" >
                         <tr>
                             <td style="width:20%">제목</td>
                             <td>
                                 <input type="text" th:field="*{noticeTitle}" class="form-control form-control-sm">
                             </td>
                         </tr>
                         <tr>
                             <td colspan="2"><br>
                                 <textarea class="form-control" th:field="*{noticeContent}" rows="10" name="content" placeholder="공지 내용을 입력해주세요. 공지 내용은 관리자만 입력할 수 있습니다."></textarea>
                             </td>
                         </tr>
                     </table>
                     <div style="text-align: right">
                         <input type="button" value="목록" onclick="location.href='/admin/adminNotice'" class="btn btn-primary btn-sm" style="background-color: #865439; border: 0;">&nbsp;&nbsp;
                         <input type="reset" value="다시쓰기" class="btn btn-primary btn-sm" style="background-color: #865439; border: 0;">
                         <input type="submit" value="전송" class="btn btn-primary btn-sm" style="background-color: #865439; border: 0;">
                     </div>
                 </form>

            </div>
        </div>
    </div>

    <br><br><br>
    <div th:replace="headerFooter.html :: footer"></div>
    <th:block th:replace="headerFooter.html :: script"></th:block>
</body>
</html>