<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.kyp.kypcoffee.mapper.admin.SalesStatusMapper">

    <select id="selectSummarySales" parameterType="String" resultType="team.kyp.kypcoffee.domain.admin.SummarySales">
        select
            CASE GROUPING(b.producttype) WHEN 1 THEN -1 ELSE b.productType END AS producttype,
            sum(a.price)as sum
        from payment a join product b on (a.productCode = b.productCode)
        where  paystatus like '결제완료'
          and to_char(paydate,'yyyy-mm-dd') = #{payDate}
        group by rollup(b.producttype)
    </select>

    <select id="selectSummarySalesMonth" parameterType="String" resultType="team.kyp.kypcoffee.domain.admin.SummarySales">
        select
            CASE GROUPING(b.producttype) WHEN 1 THEN -1 ELSE b.productType END AS producttype,
            sum(a.price)as sum
        from payment a join product b on (a.productCode = b.productCode)
        where  paystatus like '결제완료'
          and to_char(paydate,'yyyy-mm') = #{payDate}
        group by rollup(b.producttype)
    </select>

    <select id="selectSalesDetail" parameterType="team.kyp.kypcoffee.domain.admin.SalesVO" resultType="team.kyp.kypcoffee.domain.admin.SalesDetail">
        select CASE GROUPING(b.productType) WHEN 1 THEN -1 ELSE b.productType END AS PRODUCTTYPE,
               NVL(C.PRODUCTNAME, '소계') AS PRODUCTNAME,
               sum(a.CARTQUANTITY) AS CARTQUANTITY,
               sum(a.PRICE) AS PRICE
        from payment a join product b on (a.PRODUCTCODE = b.PRODUCTCODE)
                       join PRODUCT_INFO c on (b.PRODUCTCODE = c.PRODUCTCODE)
        where paystatus like '결제완료'
        <if test="isPayDateMonth == true">
            and to_char(paydate,'yyyy-mm') = #{payDate}
        </if>
        <if test="isPayDateMonth == false">
            and to_char(paydate,'yyyy-mm-dd') = #{payDate}
        </if>
        group by rollup(b.productType, c.productName)
    </select>

</mapper>