<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KYP COFFEE CO.,LTD</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
        .chat {
            position: fixed;
            bottom: 80px; /* 윗쪽 끝에서부터의 거리 */
            right: 15px;
            z-index: 997;
            width: 60px;
            height: 60px;
            background-color: #5C3D2E;
            border-radius: 70%;
        }
        .chat i {
            font-size: 40px;
            color: #fff;
            line-height: 0;
        }

        .img-fluid {
            /*display: inline-block;*/
            width: 100%;
            height: 100px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 5px;
        }
        .portfolio .portfolio-item .portfolio-info {
            opacity: 0;
            position: absolute;
            left: 12px;
            right: 18px;
            bottom: -50px;
            z-index: 3;
            transition: all ease-in-out 0.3s;
            background: #c0854e;
            padding: 15px 20px;
        }
    </style>
    <th:block th:replace="headerFooter.html :: configFragment"></th:block>
</head>
<body>

<div th:replace="headerFooter.html :: top-bar"></div>
<div th:replace="headerFooter.html :: main-header"></div>
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to 고윤박커피</h1>
        <h2>고윤박커피만의 블렌딩 조합! 언제나 신선한 맛과 향을 느껴보세요!</h2>
        <a href="/intro" class="btn-get-started scrollto">회사 소개로</a>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>Why 고윤박커피</h2>
                <h3>왜 저희 <span>커피여야 할까요</span>?</h3>
                <p>저희 고윤박 커피는 커피를 사랑하는 이들이 모여 최상의 커피맛을 내기위해 다년간 연구했습니다.</p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                        <span>01</span>
                        <h4>새로운 로스팅</h4>
                        <p>혁신적인 고윤박커피만의 방식으로 조합한 블렌드 원두</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="100">
                        <span>02</span>
                        <h4>처음 느껴보는 향기</h4>
                        <p>현지에서 엄선한 최고급 생두를 직수입</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <span>03</span>
                        <h4>전문가와 함께하는 클래스</h4>
                        <p>매주 토요일마다 열리는 커피 원데이 클래스</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>문의 사항</h3>
                <p> 제품, 배송 관련 문의사항이 있으신가요? 언제든 고윤박커피 홈페이지의 QNA 게시판을 이용하세요. <br>
                    전문 상담사가 성실히 답변드립니다. 빠른 답변을 원하시면 고객센터로 전화주세요!</p>
                <a class="cta-btn" href="/qnaBoard">QNA 게시판으로</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>서비스</h2>
                <h3>환상적인<span>서비스</span></h3>
                <p>저희 고윤박 커피는 고객만족을 위해 최선을 다합니다.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-in">
                        <div class="icon"><i class="far fa-thumbs-up"></i></div>
                        <h4><a href="">100% 책임보상</a></h4>
                        <p>커피원두 불만족시 100% 책임보상을 실시합니다. 자세한 사항을 고객센터를 통해 문의해주세요.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
                        <h4><a href="">원데이 클래스</a></h4>
                        <p>매주 토요일 열리는 전문가와 함께하는 원데이 클래스에서 바리스타의 꿈을 키워보세요!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-gift"></i></div>
                        <h4><a href="">각종 이벤트</a></h4>
                        <p>후기이벤트에 참여하시면 추첨을 통해 매주 소정의 상품을 증정합니다.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-mug-hot"></i></div>
                        <h4><a href="">테이스팅 제공</a></h4>
                        <p>매장 방문 시,요청하시면 각종 커피의 테이스팅 서비스를 제공합니다.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-door-open"></i></div>
                        <h4><a href="">오프라인 판매</a></h4>
                        <p>온라인은 물론, 오프라인 매장에서도 각종 커피상품을 구매하실수 있습니다.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                        <div class="icon"><i class="far fa-handshake"></i></div>
                        <h4><a href="">사업자전용 콜센터</a></h4>
                        <p>사업자 전담 콜센터 운영으로 더욱 확장된 서비스! 빠른 회신을 약속드립니다.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>온라인스토어</h2>
                <h3>저희 상품을 <span>구경하세요</span></h3>
<!--                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>-->
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">원두/시럽</li>
                        <li data-filter=".filter-card">텀블러/컵</li>
                        <li data-filter=".filter-web">선물세트</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="img/portfolio/coffeepack2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>블루마운틴</h4>
                        <p>원두</p>
                        <a href="/products/details?pdtCode=4" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/giftbox.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>원두4종세트</h4>
                        <p>선물세트</p>
                        <a href="/products/details?pdtCode=50" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="img/portfolio/syrup3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>헤이즐넛시럽</h4>
                        <p>시럽</p>
                        <a href="/products/details?pdtCode=39" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/kypcup1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>고윤박 시그니처 컵 (블랙)</h4>
                        <p>컵</p>
                        <a href="/products/details?pdtCode=35" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/giftpack2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>원두 5종세트 (200g)</h4>
                        <p>선물세트</p>
                        <a href="/products/details?pdtCode=49" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="img/coffeepack3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>랜덤500g</h4>
                        <p>원두</p>
                        <a href="/products/details?pdtCode=46" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/kypcup4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>고윤박 머그컵(화이트)</h4>
                        <p>컵</p>
                        <a href="/products/details?pdtCode=42" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/kypbottle1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>기본 텀블러(그레이)</h4>
                        <p>텀블러</p>
                        <a href="/products/details?pdtCode=45" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/giftpack.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>종합선물세트(원두,텀블러)</h4>
                        <p>선물세트</p>
                        <a href="/products/details?pdtCode=53" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= 슬로건 Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="img/testimonials/park_emoji.png" class="testimonial-img" alt="">
                            <h3>MJguri</h3>
                            <h4>ADMIN, SEARCH, ONEDAYCLASS, REVIEW</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                TEAM KYP 의 팀장입니다. Springboot - Thymeleaf - Mybatis 연동, 관리자기능, 원데이클래스기능, 리뷰기능, 검색기능을 구현하였습니다. 프로젝트 하는동안 너무 즐거웠습니다. 다음에 또 같이해요.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="img/testimonials/ko_emoji.png" class="testimonial-img" alt="">
                            <h3>Monica</h3>
                            <h4>LOGIN, REGISTER, QNABOARD, CHAT, DESIGN</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Bootstrap 템플릿을 이용한 전반적인 디자인과 상품이미지, 로그인/회원가입, 회사소개와 오시는길, QNA게시판, 상담 채팅기능을 담당했습니다<br> 좋은 팀을 만나게되어 좋았습니다.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="img/testimonials/yun_emoji.png" class="testimonial-img" alt="">
                            <h3>Wugawuga</h3>
                            <h4>Store, Pay, Cart</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                스프링부트와 타임리프를 이용해서 상품리스트, 상품별목록, 장바구니, 마일리지, 메인페이지, iamport api를 이용한 카드/카카오페이 결제기능 구현<br> 이런 팀을 만난게 너무 행운이었고 행복했습니다
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!--End testimonial item -->

                    <!-- <div class="swiper-slide">
                      <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                      </div>
                    </div>End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>F.A.Q</h2>
                <h3>자주묻는 <span>질문</span></h3>
                <p>저희 고윤박 커피에 질문이 있으시다구요? 아래의 자주묻는 질문을 참고해주세요.</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">커피는 언제 들어오나요?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                저희 고윤박 커피는 매주 수요일 새로운 원두가 들어옵니다. 고윤박커피 정보성 이메일을 구독하시면 다양한 이벤트와 더불어 새로운 원두가 나오기 전 이메일로 소식을 받아보실수 있습니다.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">커피 원두의 유통기한은 언제까지 인가요? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                저희 원두의 유통기한은 커피를 볶은 날로부터 3개월입니다. 신선하고 최상의 커피맛을 위해 개봉일로 부터 빠른시일내에 섭취를 권장드립니다.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">커피에 문제가 있는것같아요. 어디서 상담을 해야하나요? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                상담을 원하시면 저희 고윤박커피의 대표전화번호 000-0000-0000 으로 전화주시거나 QNA게시판을 이용해주세요.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">사업자 상담을 하고싶습니다. 어디로 연락하면 되나요? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                저희 고윤박커피는 사업자를 위한 전용 상담센터가 마련되어있습니다. 사업자 전용 000-0000-0001로 연락부탁드립니다.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->

</main><!-- End #main -->
<div class="chat hidden-md hidden-sm hidden-xs">
    <a href="../chat" onclick="window.open(this.href,'_blank','width=400,height=650,location=no,status=no,top=2000,left=2000'); return false;" class="chat d-flex align-items-center justify-content-center"><i class="far fa-comments fa-2x"></i></a>
</div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="vendor/purecounter/purecounter.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="js/main.js"></script>
<script>
    function subs(){
        let email = document.getElementById("email").value;
        console.log(email);
        alert(email+'로 구독이 성공적으로 완료되었습니다.');
    }

    function searchDo(){
        let search = document.getElementById("searchAll")
        let keyWord = search.value;
        location.href='/searchDo/'+keyWord;
    }

</script>

</body>
<footer id="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-lg-8">
                    <h3>KYP COFFEE</h3>
                    <p>저희 고윤박 커피는 항상 신선한 프리미엄 커피원두 제공을 약속드립니다.<br>
                        이메일을 구독하시면 매주 새로운 커피입고를 안내와 이벤트 등의 정보를 받아보실수 있습니다.</p>
                </div>
            </div>

            <div class="row footer-newsletter justify-content-center">
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email" id="email" placeholder="구독을 위한 이메일 주소를 입력해주세요"><input type="button" value="이메일 구독" onclick="subs()">
                    </form>
                </div>
            </div>
            <br><br>
            <div class="container footer-bottom clearfix">
                <div class="copyright">
                    &copy; Copyright <strong><span>KYP COFFEE CO.,LTD</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>

        </div>
    </div>

</footer><!-- End Footer -->

</html>