<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>고윤박커피 / 회사소개</title>
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <th:block th:replace="headerFooter.html :: configFragment"></th:block>

</head>
<body>
<div th:replace="headerFooter.html :: top-bar"></div>
<div th:replace="headerFooter.html :: main-header"></div>

<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>About us</h2>
            <ol>
                <li><a href="/">메인으로</a></li>
                <li>회사소개</li>
            </ol>
        </div>
    </div>
</section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <section id="portfolio-details" class="portfolio-details">
                    <div class="container">
                        <div class="row gy-4">
                            <div class="col-lg-7">
                                <div class="portfolio-details-slider swiper">
                                    <div class="swiper-wrapper align-items-center">
                                        <div class="swiper-slide">
                                            <img src="/img/sign2.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/img/bean.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/img/coffeepack1.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/img/portfolio/giftpack2.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/img/kcoffee_small.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/img/coffeepack3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>

                <div class="col-xl-5 col-lg-5 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <div class="box-heading" data-aos="fade-up">
                        <h3>고윤박 커피 Since 2022</h3>
                        <p class="description">저희 고윤박 커피는 커피를 사랑하는 이들이 모여 최상의 커피맛을 내기위해 다년간 연구했습니다. 전문가들이 오래 고심한 끝에 최고의 맛을 구현했습니다. 고윤박커피의 블렌딩 원두를 느껴보세요. </p>
                    <br>
                    </div>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="fas fa-leaf fa-2x"></i></div>
                        <h4><span>최상급 품질의 원두</span></h4>
                        <p class="description">고윤박 커피 현지 공장에서 정밀한 공정 시스템으로 최상급 품질의 원두만 골라 직수입 합니다.</p>
                    </div><br>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-world fa-2x"></i></div>
                        <h4><span>친환경 정책</span></h4>
                        <p class="description">고윤박커피는 친환경 정책을 기반으로 모든 포장을 재활용가능한 종이포장으로 제공합니다.</p>
                    </div>

                </div>
            </div>

        </div>
    </section>
            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                        <span>★★★★★</span>
                        <h4>새로운 로스팅</h4>
                        <p>혁신적인 고윤박커피만의 방식으로 조합한 블렌드 원두</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="100">
                        <span>★★★★★</span>
                        <h4>처음 느껴보는 향기</h4>
                        <p>현지에서 엄선한 최고급 생두를 직수입</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <span>★★★★★</span>
                        <h4>전문가와 함께하는 클래스</h4>
                        <p>매주 토요일마다 열리는 커피 원데이 클래스</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <section id="hero2">
        <div class="hero-container" data-aos="fade-up">
            <h1>가로수길 매장 오픈</h1>
            <h2>2022.05.01 오픈</h2>
            <h2>갓 볶은 신선한 원두만을 사용하여 최상의 서비스를 제공합니다</h2>
        </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title" data-aos="zoom-in">
                <h2>서비스</h2>
                <h3>환상적인<span>서비스</span></h3>
                <p>저희 고윤박 커피는 고객만족을 위해 최선을 다합니다.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-in">
                        <div class="icon"><i class="far fa-thumbs-up"></i></div>
                        <h4><a href="">100% 책임보상</a></h4>
                        <p>커피원두 불만족시 100% 책임보상을 실시합니다. 자세한 사항을 고객센터를 통해 문의해주세요.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
                        <h4><a href="">원데이 클래스</a></h4>
                        <p>매주 토요일 열리는 전문가와 함께하는 원데이 클래스에서 바리스타의 꿈을 키워보세요!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-gift"></i></div>
                        <h4><a href="">각종 이벤트</a></h4>
                        <p>후기이벤트에 참여하시면 추첨을 통해 매주 소정의 상품을 증정합니다.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-mug-hot"></i></div>
                        <h4><a href="">테이스팅 제공</a></h4>
                        <p>매장 방문 시,요청하시면 각종 커피의 테이스팅 서비스를 제공합니다.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-door-open"></i></div>
                        <h4><a href="">오프라인 판매</a></h4>
                        <p>온라인은 물론, 오프라인 매장에서도 각종 커피상품을 구매하실수 있습니다.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                        <div class="icon"><i class="far fa-handshake"></i></div>
                        <h4><a href="">사업자전용 콜센터</a></h4>
                        <p>사업자 전담 콜센터 운영으로 더욱 확장된 서비스! 빠른 회신을 약속드립니다.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

<div th:replace="headerFooter.html :: footer"></div>
<th:block th:replace="headerFooter.html :: script"></th:block>
</body>
</html>